.header{
	height: 80px;
background-image: url(../images/logo.png) center center no-repeat;
}
.nav li a {
    font-size: 18px;
    font-family: "黑体";
    text-align: center;
    color: #000;
}

.nav li.active a,.nav li a:hover {
    background: #000;
    color: #fff;
}